.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.cropper-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.drag-drop-container ion-card-content {
  border-radius: 4px;
  border: 4px dashed var(--ion-color-primary);
}

.card-image-empty ion-card-content ion-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image-empty ion-card-content {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card-image-empty ion-card-content ion-img::part(image) {
  max-width: 250px;
}

.container-empty{
  padding: 5%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

ion-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  --background: transparent;

}

ion-toolbar ion-fab-button {
  --box-shadow: 0;
  --background: transparent;
}

image-cropper {
  padding: 12%;
  align-items: center;
  height: 100%;
  --cropper-overlay-color: transparent;
  --cropper-outline-color: transparent;
}
