

ion-card{
  &.profile{

  }
}


section.wave-container{
  position: relative;
  width: 100%;
  & div.wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-image: url('../../assets/png/wave.png');
    background-size: 1000px 45px;
    transform: rotate(180deg);
    &.wave-1 {
      animation: waves1 30s linear infinite;
      opacity: 1;
      z-index: 100;
      animation-delay: 0s;
      top: -15px;
    }
    &.wave-2 {
      animation: waves2 15s linear infinite;
      opacity: 0.5;
      z-index: 99;
      animation-delay: -5s;
      top: -10px;
    }
    &.wave-3 {
      animation: waves3 25s linear infinite;
      opacity: 0.2;
      z-index: 98;
      animation-delay: -2s;
      top: -5px;
    }
    &.wave-4 {
      animation: waves4 30s linear infinite;
      opacity: 0.5;
      z-index: 97;
      animation-delay: 0s;
      top: -10px;
    }
  }
}

@keyframes waves1 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}

@keyframes waves2{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}

@keyframes waves3 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}

@keyframes waves4 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}
