<section class="wave-container">
  <div class="wave wave-1"></div>
  <div class="wave wave-2"></div>
  <div class="wave wave-3"></div>
  <div class="wave wave-4"></div>
</section>
<ion-content style="margin-top: 40px;">

  <ion-card class="profile" mode="ios">
    <ion-card-header>
      <ion-img class="ion-padding" [src]="'../../assets/svg/undraw_profile_pic_re_iwgo.svg'"></ion-img>
      <ion-card-subtitle>Usuario: #00000</ion-card-subtitle>
      <ion-card-title>Jesus Augusto Guzmán Martinéz</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Pizza</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Pizza</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Pizza</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Pizza</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Pizza</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Pizza</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Pizza</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
