
<ion-tabs>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="home"></ion-icon>
      <ion-label class="ion-hide-sm-down">Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-carrito">
      <ion-icon name="cart"></ion-icon>
      <ion-label class="ion-hide-sm-down">Mi Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label class="ion-hide-sm-down">Mi Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajustes">
      <ion-icon name="list"></ion-icon>
      <ion-label class="ion-hide-sm-down">Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
